*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    width: 50px;
  height: 50px;
  margin-left: -5rem;
}
.logo{
    margin-left: 0rem;
}
body{
    margin-top: 0%;
    background-color: wheat;
}
.frm{
    background-image: url('../home-img/pic4.avif');
}
.img9{
 height: 100px;
 width: 200px;
 border-top-left-radius: 80%;
 border-bottom: 5px solid white ;
}
.img5{
 height: 100px;
 width: 200px;
 border-top-right-radius: 80% ;
 border-bottom: 5px solid white ;
}
.img11{
 height: 100px;
 width: 200px;
 border-bottom-left-radius: 80%;
}
.img6{
 height: 100px;
 width: 200px;
 border-bottom-right-radius: 80%;
}
.card{
  border-radius:12px;
  }

